.main-menu{
	width: 100%;
	height: 150px;
	background-color: #ea5dc4;
	border:2px solid grey;
}
.main-menu,.workplace__component-bar,.workplace__propperties-bar{
	opacity: 0.4;
}
.workplace__propperties-bar{
	grid-area:propperties-bar;
	background-color: #c444ef;
}
.workplace__scene{
	grid-area:scene;
}
.workplace{
	display: grid;
	grid-template-columns: 1fr 1024px 1fr;
	grid-template-rows: 100%;
	grid-template-areas:"component-bar scene propperties-bar";
}