@mixin hover{
  &:hover{
    cursor:pointer};
}
@mixin hoverScale{
  @include hover;
  &:hover{
    transform: scale(1.1);
  }
}
@mixin hoverOpacity{
  @include hover;
  opacity:0.9;
  &:hover{
    opacity: 1;
  }
}
@mixin justifyAbsolute{
  position: absolute;
  left:50%;
  transform: translate(-50%,0);
}
