.workplace__property-bar{
	grid-area:propperties-bar;
	//background-color: #c444ef;
}
.workplace__property-bar table{
	thead{
		text-align: center;
		background-color: rgba(234,93,196,0.2);
	}
}
.property-bar__table{
	width: 100%;
	border-collapse: collapse;
	//border:2px solid blue;
	thead{
		text-align: center;
	}
	td{
		padding:10px;
		border:2px solid midnightblue;
	}
}
.read-only{
	background-color: #fafafa;
	pointer-events: none;
}