@import './../../styles/mixins';
.workplace__scene{
  position: relative;
  width: 1024px;
  height: 560px;
  //font-family: 'Noto Sans', sans-serif;
  background-color: black;
  overflow: visible;
  // box-sizing:border-box;
  border: 2px solid gray;
  border-top-width:0;
}
.position-label{
  position: absolute;
  top: 0;
  right: 0;
  color: green;
  transform: translate(105%,-50%);
  white-space: nowrap;
}
.scene__handle{
  display: inline-block;
  position: absolute;
}
.handle__close-button{
  @include hoverOpacity();
  position: absolute;
  width:20px;
  height: 20px;
  text-align:center;
  font-size:24px;
  top: 0;
  right: 0;
  color: grey;
  transform: translate(110%, -80%);
  white-space: nowrap;
}