.editor__scene{
  position: relative;
  width: 1024px;
  height: 560px;
  //font-family: 'Noto Sans', sans-serif;
  background-color: black;
  overflow: hidden;
  // box-sizing:border-box;
  border: 2px solid gray;
}
.position-label{
  position: absolute;
  top: 0;
  right: 0;
  color: green;
  transform: translate(105%,-50%);
  white-space: nowrap;
}
.handle{
  display: inline-block;
}